export(scoring.QLQC30)
export(scoring.QLQBN20)
export(scoring.QLQBR23)
export(scoring.QLQCR29)
export(scoring.QLQCX24)
export(scoring.QLQEN24)
export(scoring.QLQHN35)
export(scoring.QLQLC13)
export(scoring.QLQMY20)
export(scoring.QLQOES18)
export(scoring.QLQOG25)
export(scoring.QLQPR25)
export(scoring.QLQSTO22)
export(scoring.INPATSAT32)
export(scoring.QLQC15PAL)
export(scoring.QLQELD14)
export(scoring.QLQLMC21)
export(scoring.QLQINFO25)
export(scoring.QLQHCC18)
export(scoring.QLQOV28)
export(TTD)
export(TUDD)
export(write.TTD)
export(write.TUDD)
export(first_pos)
export(maxi.false)
export(mini.time)
export(maxi.time)
export(plotTTD)
export(whicha)
import(survival)
import(zoo)
importFrom("graphics", "legend", "mtext", "par", "plot", "text")
importFrom("stats", "reshape")
importFrom("utils", "write.table")
